@import "variables";

@font-face {
    font-family: 'Mohave Semibold';
    src: url('/fonts/Mohave-Semibold.eot');
    src: url('/fonts/Mohave-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Mohave-Semibold.woff2') format('woff2'),
         url('/fonts/Mohave-Semibold.woff') format('woff'),
         url('/fonts/Mohave-Semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Exo', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.branding {
    font-family: 'Mohave Semibold', 'Helvetica', 'Arial', sans-serif;
}

.home-page {
    color: $white;

    .branding {
        font-size: 64px;
        letter-spacing: -4.1px;
        color: $white;
    }

}
