$header-height: 64px;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    position: relative;
}

/*
    Header styles
*/

.app-header {
    height: $header-height;
    width: 100%;
    position: absolute;
}

/*
    Page Styles
*/

.page {
    min-height: 100vh;
}

.home-page__content {
    padding-top: $header-height + 16px;
}
