$header-height: 64px;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/*
    Header styles
*/

.app-header {
    height: $header-height;
    width: 100%;
    position: absolute;
    clear: both;
}
.app-header__inner::after, .clearfix::after {
    clear:both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
/*
    Page Styles
*/

.page {
    min-height: 100vh;
    padding-left: 8px;
    padding-right: 8px;
}

.home-page__content {
    padding-top: $header-height + 16px;
}

.header-logo {
    float: left;
}

.app-menu {
    list-style: none;
}

.app-menu-wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #AE4475;
}

.app-menu__item {
    color: #FFF;
    width: 100%;
    text-align: center;
}
